<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NMessageBoard Page</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="icon" href="favicon.ico">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head> 
   <nav class="navbar navbar-inverse"> 
      <div class="container-fluid" id="color">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/edit">Profile</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
             <li><a href="/show/@ViewBag.User_one.id">Message Board</a></li>
          </ul>
          <ul class="nav navbar-nav">
                 <li><a href="/dashboard">Dashboard</a></li>
          </ul>
          <ul class="nav navbar-nav">
                 <li><a href="/logout">Logout</a></li>
          </ul>
          <ul class="nav navbar-nav">
             <a class="dropdown-toggle profile-image" data-toggle="dropdown">
             <img src="@ViewBag.User_one.image" class="img-circle special-img"></a>
          </ul>
        </div>
      </div>
      </nav>
  <div class="dashboardbg"></div>
  <div class="container">
    <div class="col-md-6">
    <div class="row">
        <div class="bg-danger" id="details">
        <h1>@ViewBag.Show_User.first_name @ViewBag.Show_User.last_name</h1>
        <p>Registered at: @ViewBag.Show_User.created_at</p>
        <p>User ID: #@ViewBag.Show_User.id</p>
        <p>Email address: @ViewBag.Show_User.email</p>
        <p>Description: @ViewBag.Show_User.description</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="@ViewBag.Show_User.image" class="img-circle special-img2">
    </div>
  <div class="row bg-danger">
    <div class="col-md-8">
      <h2>Leave a message for @ViewBag.Show_User.first_name</h2>
      <form action='/message' method='Post'>
        <div class='form-group'>
          <textarea class="form-control" rows="3" name="message" placeholder="Post Your Message Here"></textarea>
        </div>
        <!--Id that specifies how is writting the message-->
        <input type="hidden" name="user_id" value=@ViewBag.User_one.id> 
        <!--Id that specifies for whom the message is-->
        <input type="hidden" name="tag_id" value=@ViewBag.Show_User.id> 
        <button type="submit" class="btn btn-default pull-right">Post Message</button>
      </form>
       <!-- To display Errors -->
      @{
            if(ViewBag.errors != null){
                foreach(var error in ViewBag.errors){
                    <p class="errors">@error</p>
                }
            }
        } 
    </div>
  </div>
  <div class="row bg-danger" id="message_container">
    <div class=" big_border col-md-6">
    @{
        foreach(var Current in ViewBag.messages){
        <div class="row">
            <p class="col-md-6 message1">@Current.first_name Wrote</p><p class="col-md-6 message1"> @Current.created_at</p>
        </div>
        <p class="border">@Current.message</p>
          foreach(var Current1 in ViewBag.comments){
                    if( @Current1.message_id == @Current.id)
                    {
                        <div class="row">
                        <p class="comments1 col-md-5">@Current1.first_name Commented</p><p class="col-md-6 comments1">@Current1.created_at</p></div>
                        <p class="comments2">@Current1.comment</p>
                    }
            }
          <form action ="/comment" method='Post'>
            <div class="form-group" id="comment_box">
              <textarea class="form-control" rows="3" name="comment" placeholder="Post Your Comment Here"></textarea>
              <input type="hidden" name="message_id" value ="@Current.id">
              <input type="hidden" name="user_id" value="@ViewBag.User_one.id">
              <input type="hidden" name="temp_id" value=@ViewBag.Show_User.id>
            </div>
            <button type="submit" class="btn btn-default pull-right">Post Comment</button><br><br>
          </form>
        }
    }
    </div>
    </div>
  </div>
</body>
</html>